@*@model List<Model.EF.Post>*@
@model List<ShareImage.Models.PostViewModel>

           

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



    @foreach (var item in Model.OrderByDescending(x => x.CreateDate))
    {

        
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3><b>TÀI KHOẢN:</b> @item.Username</h3>
                            <h3><b>NGÀY ĐĂNG:</b>  @item.CreateDate</h3>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="@Url.Content(item.Picture)" class="rounded mx-auto d-block" alt="@item.Description" style="width:900px;height:600px" />
                            </div>
                            <hr />
                            <div class="panel-footer">
                                <h2><b>TIÊU ĐỀ:</b>  @item.Title</h2>
                            </div>
                        </div>
                        ssdsd
                    </div>

                </div>
            </div>


        

                    @*<div class="text-center">
                <img src="@Url.Content(item.Picture)" class="rounded mx-auto d-block" alt="@item.Description" style="width:500px;height:400px" />
                <h2>@item.Title</h2>

                <hr />
                <h3>@item.Username</h3>
                <hr />
                <h1>@item.CreateDate</h1>
                <hr />
            </div>*@


    }

    
